<div class="wrapper">
    <div class="page-header page-header-small" filter-color="dark">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/background/6.jpg');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo typograph" style="letter-spacing: 15px;">
                    <span>E</span>
                    <span class="full">V</span>
                    <span>E</span>
                    <span class="full">N</span>
                    <span class="full">T</span>
                    <span class="full">S</span>
                </h1>
                <a class="btn btn-lg btn-round btn-primary gradient-primary" [routerLink]="['/', 'register']">
                    REGISTER
                    <i class="now-ui-icons ui-1_send"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="section section-tabs" data-background-color="black">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="text" placeholder="Search..." class="form-control input-lg text-center"
                            [(ngModel)]="search" />
                    </div>
                </div>
            </div>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'" class="text-center">
                        <ngb-tab title="All">
                            <ng-template ngbTabContent>
                                <app-event-cards tag="All" [search]="search"></app-event-cards>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Technical">
                            <ng-template ngbTabContent>
                                <app-event-cards tag="Technical" [search]="search"></app-event-cards>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Non-technical">
                            <ng-template ngbTabContent>
                                <app-event-cards tag="Non-Technical" [search]="search">
                                </app-event-cards>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Fun">
                            <ng-template ngbTabContent>
                                <app-event-cards tag="Fun" [search]="search"></app-event-cards>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>