<div class="wrapper">
    <div class="page-header page-header-small" filter-color="dark">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/background/6.jpg');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo typograph" style="letter-spacing: 15px;">
                    <span>E</span>
                    <span class="full">V</span>
                    <span>E</span>
                    <span class="full">N</span>
                    <span class="full">T</span>
                    <span class="full">S</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="section section-tabs" data-background-color="black">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="text" placeholder="Search..." class="form-control input-lg text-center"
                            [(ngModel)]="search" />
                    </div>
                </div>
            </div>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'" class="text-center">
                        <ngb-tab title="All">
                            <ng-template ngbTabContent>
                                <div class="separator"></div>
                                <div class="row">
                                    <div class="col-md-4" *ngFor="let event of events | eventFilter:search:'title'">
                                        <div class="card" style="background: url('assets/img/background/6.jpg'); background-size: cover;">
                                            <div class="card-header">
                                                <div class="card-title">{{event.title}}</div>
                                            </div>
                                            <div class="card-body text-justify">
                                                <p>{{event.description}}</p>
                                                <p><a [routerLink]="['/', 'event', event.url]">
                                                        Read More...</a></p>
                                            </div>
                                            <div class="card-footer">
                                                <a [routerLink]="['/', 'event', event.url]" class="btn btn-round btn-primray gradient-primary">
                                                    <span>REGISTER </span>
                                                    <span><i class="now-ui-icons arrows-1_minimal-right"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Technical">
                            <ng-template ngbTabContent>
                                <p> I will be the leader of a company that ends up being worth billions of
                                    dollars, because I got the answers. I understand culture. I am the
                                    nucleus. I think that’s a responsibility that I have, to push
                                    possibilities, to show people, this is the level that things could be
                                    at. I think that’s a responsibility that I have, to push possibilities,
                                    to show people, this is the level that things could be at. </p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Non-technical">
                            <ng-template ngbTabContent>
                                <p>I think that’s a responsibility that I have, to push possibilities, to
                                    show people, this is the level that things could be at. So when you get
                                    something that has the name Kanye West on it, it’s supposed to be
                                    pushing the furthest possibilities. I will be the leader of a company
                                    that ends up being worth billions of dollars, because I got the
                                    answers. I understand culture. I am the nucleus.</p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Fun">
                            <ng-template ngbTabContent>
                                <p>
                                    "I will be the leader of a company that ends up being worth billions of
                                    dollars, because I got the answers. I understand culture. I am the
                                    nucleus. I think that’s a responsibility that I have, to push
                                    possibilities, to show people, this is the level that things could be
                                    at."
                                </p>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>