@media screen and (max-width: 768px) {
    .nav-tabs {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

hr {
    border-top: 1px solid white !important;
}

.border-wrapper .card {
    background: #090909 !important;
    border-radius: inherit;
    overflow: initial;
    min-height: 500px;

    hr {
        border: none !important;
        background: linear-gradient(-30deg, #ff0b6d, #fe4644, #fb9411);
        height: 2px !important;
        margin: 5px 0px 15px !important;
    }
}

.border-wrapper {
    padding: 2px;
    border-radius: .25rem;
    background: linear-gradient(-30deg, #ff0b6d, #fe4644, #fb9411);
}

.poster img {
    transition: 800ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
    z-index: 5;
    display: block;
    transform-origin: left top;
}

.loader1x {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}


.loader2x {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 620px);
}

.input-group.has-success {
    .input-group .input-group-prepend .input-group-text {
        border-color: #1beb11 !important;
        border-left: 1px solid #1beb11 !important;
        color: #1beb11 !important;
    }

    input {
        border-color: #1beb11 !important;
    }
}

.input-group .input-group-prepend .input-group-text {
    border-left: 1px solid rgba(255, 255, 255, 0.5) !important;
}

[data-background-color] .input-group-focus .input-group-text {
    border-color: rgba(255, 255, 255, 0.5) !important;
}

[data-background-color] .input-group-focus .input-group-text {
    border-color: #ffffff !important;
}

[data-background-color] .has-success .input-group-text {
    border-color: #1beb11 !important;
    color: #1beb11 !important;
}