@media screen and (max-width: 768px) {
    .nav-tabs {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

hr {
    border-top: 1px solid black !important;
}

.card {
    background: transparent !important;
    border: 2px solid #000;
    border-radius: .25rem;

    hr {
        border-top: 2px solid black !important;
        margin: 5px 0px 15px !important;
    }
}