@media screen and (max-width: 768px) {
    .nav-tabs {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

hr {
    border-top: 1px solid white !important;
}

.card {
    background: #090909 !important;
    border-radius: inherit;
    overflow: initial;

    hr {
        border: none !important;
        background: linear-gradient(-30deg, #ff0b6d, #fe4644, #fb9411);
        height: 2px !important;
        margin: 5px 0px 15px !important;
    }
}

.border-wrapper {
    padding: 2px;
    border-radius: .25rem;
    background: linear-gradient(-30deg, #ff0b6d, #fe4644, #fb9411);
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 620px);
}