<div class="wrapper">
    <div class="page-header page-header-small" filter-color="dark">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/background/6.jpg');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/icons/logo_white.png" alt="">
                <h1 class="h1-seo typograph" style="letter-spacing: 15px;">
                    <span class="half">E</span>
                    <span class="full">V</span>
                    <span class="half">E</span>
                    <span class="full">N</span>
                    <span class="full">T</span>
                </h1>
                <a class="btn btn-lg btn-round btn-primary gradient-primary" [routerLink]="['/', 'events']">
                    <i class="now-ui-icons arrows-1_minimal-left"></i>
                    All Events
                </a>
            </div>
        </div>
    </div>
    <div class="section section-tabs" data-background-color="black">
        <div class="container" *ngIf="event; else loader2x">
            <h1 class="title text-center">{{event?.name}}</h1>
            <!-- <div class="row text-center">
                <div class="col-md-4">
                    <p>Date: {{event?.timings?.date}}</p>
                </div>
                <div class="col-md-4">
                    <p>Time: {{event?.timings?.time}}</p>
                </div>
                <div class="col-md-4">
                    <p>Venue: {{event?.venue}}</p>
                </div>
            </div> -->
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <div class="poster">
                        <div class="poster"></div>
                        <img class="rounded my-3 poster" src={{event?.image}} alt={{event?.title}}>
                    </div>
                    <h3 class="title text-center mb-0">Participate</h3>
                    <form (ngSubmit)="onSubmit()" #f="ngForm">
                        <div class="input-group input-lg my-3"
                            [ngClass]="{'input-group-focus':focus1===true, 'has-success': f.controls.email?.valid}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons ui-1_email-85"></i>
                                </span>
                            </div>
                            <input ngModel required type="text" pattern="[^ @]*@[^ @]*" class="form-control"
                                name="email" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false">
                        </div>
                        <div class="input-group input-lg my-3"
                            [ngClass]="{'input-group-focus':focus2===true, 'has-success': f.controls.uid?.valid}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons users_single-02"></i>
                                </span>
                            </div>
                            <input ngModel required type="text" pattern="[Ee][Xx][Oo]-2019[0-9]{4}" class="form-control"
                                name="uid" placeholder="Exordium ID Format: EXO-XXXXXXXX" (focus)="focus2=true"
                                (blur)="focus2=false">
                        </div>
                        <div class="small text-center font-weight-bold mb-2"><a class="text-center text-primary"
                                [routerLink]="['/','register']">Don't
                                have an Exordium
                                ID? Click Here.</a></div>
                        <div class="form-group text-center" *ngIf="!loading; else loader1x">
                            <input type="submit" class="btn btn-round btn-lg btn-primary gradient-primary"
                                [disabled]="!f.valid" value="Participate">
                        </div>
                    </form>
                </div>
                <div class="col-lg-8">
                    <div class="border-wrapper mt-3">
                        <div class="card card-plain my-0">
                            <div class="nav-tabs-navigation" data-tabs-color="dark">
                                <div class="nav-tabs-wrapper">
                                    <ngb-tabset [justify]="'center'" class="text-center">
                                        <ngb-tab title="Description">
                                            <ng-template ngbTabContent>
                                                <hr>
                                                <div class="container">
                                                    <h3>Description</h3>
                                                    <div class="content text-justify">
                                                        <p *ngFor="let desc of event?.description">{{desc}}</p>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ngb-tab>
                                        <ngb-tab title="Details">
                                            <ng-template ngbTabContent>
                                                <hr>
                                                <div class="container">
                                                    <h3>Details</h3>
                                                    <div class="content text-justify"
                                                        *ngFor="let round of event?.rounds">
                                                        <h6 class="text-center my-4">
                                                            <span *ngIf="round?.round">Round -
                                                                {{round.round | number:'2.0-0'}}</span>
                                                            <span *ngIf="round?.name">| {{round.name}}</span></h6>
                                                        <p *ngFor="let detail of round?.details">{{detail}}</p>
                                                        <div class="row">
                                                            <div class=" col-4 col-md-3">
                                                                <p class="m-0">Duration:</p>
                                                            </div>
                                                            <div class="col-8 col-md-9">
                                                                <p class="m-0">
                                                                    {{round?.timings?.duration}}
                                                                    <span *ngIf="round?.timings?.duration !== '-'">
                                                                        minutes</span>
                                                                </p>
                                                            </div>
                                                            <div class="col-4 col-md-3">
                                                                <p class="m-0">Date: </p>
                                                            </div>
                                                            <div class="col-8 col-md-9">
                                                                <p class="m-0">{{round?.timings?.date}}</p>
                                                            </div>
                                                            <div class="col-4 col-md-3">
                                                                <p class="m-0">Timing: </p>
                                                            </div>
                                                            <div class="col-8 col-md-9">
                                                                <p class="m-0">{{round?.timings?.from}} - <span
                                                                        *ngIf="round?.timings?.to !== '-'">{{round?.timings?.to}}</span>
                                                                </p>
                                                            </div>
                                                            <div class="col-4 col-md-3">
                                                                <p class="m-0">Venue: </p>
                                                            </div>
                                                            <div class="col-8 col-md-9">
                                                                <p class="m-0">{{round?.venue}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="separator"></div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ngb-tab>
                                        <ngb-tab title="Rules">
                                            <ng-template ngbTabContent>
                                                <hr>
                                                <div class="container">
                                                    <h3>Rules</h3>
                                                    <div class="content text-justify">
                                                        <p class="mb-1"
                                                            *ngFor="let rule of event?.rules; let i = index">{{i + 1}}.
                                                            {{rule}}</p>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ngb-tab>
                                        <ngb-tab title="Requirements">
                                            <ng-template ngbTabContent>
                                                <hr>
                                                <div class="container">
                                                    <h3>Requirements</h3>
                                                    <div class="content text-justify">
                                                        <p class="mb-1"
                                                            *ngFor="let requirement of event?.requirements; let i = index">
                                                            {{i + 1}}.
                                                            {{requirement}}</p>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ngb-tab>
                                        <ngb-tab title="Contact">
                                            <ng-template ngbTabContent>
                                                <hr>
                                                <div class="container">
                                                    <h3>Contact</h3>
                                                    <div class="content text-justify my-2"
                                                        *ngFor="let organizer of event?.organizers">
                                                        <div class="col-4 col-md-3">
                                                            <p class="mb-0">Organizer: </p>
                                                        </div>
                                                        <div class="col-8 col-md-9">
                                                            <p class="mb-0">{{event?.contact}}</p>
                                                        </div>
                                                        <div class="col-4 col-md-3">
                                                            <p class="mb-0">Contact: </p>
                                                        </div>
                                                        <div class="col-8 col-md-9">
                                                            <p class="mb-0">{{event?.organizer}}</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ngb-tab>
                                    </ngb-tabset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #loader1x>
    <div class="loader1x">
        <div class="la-ball-clip-rotate-pulse">
            <div></div>
            <div></div>
        </div>
    </div>
</ng-template>

<ng-template #loader2x>
    <div class="loader2x">
        <div class="la-ball-clip-rotate-pulse la-2x">
            <div></div>
            <div></div>
        </div>
    </div>
</ng-template>


<ng-template #success let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <div class="modal-profile">
            <i class="now-ui-icons users_single-02"></i>
        </div>
    </div>
    <div class="modal-body">
        <p>Participation Successful</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-simple btn-round ml-auto mx-auto text-white"
            style="border-color: #fff !important;" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #invalidId let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <div class="modal-profile">
            <i class="now-ui-icons users_single-02"></i>
        </div>
    </div>
    <div class="modal-body">
        <p>Exordium ID is Invalid</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-simple btn-round ml-auto mx-auto text-white"
            style="border-color: #fff !important;" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #invalidEmail let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <div class="modal-profile">
            <i class="now-ui-icons users_single-02"></i>
        </div>
    </div>
    <div class="modal-body">
        <p>Please enter the email you used to register for Exordium ID</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-simple btn-round ml-auto mx-auto text-white"
            style="border-color: #fff !important;" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #alreadyRegistered let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <div class="modal-profile">
            <i class="now-ui-icons users_single-02"></i>
        </div>
    </div>
    <div class="modal-body">
        <p>You have already participated in this event</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-simple btn-round ml-auto mx-auto text-white"
            style="border-color: #fff !important;" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #error let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <div class="modal-profile">
            <i class="now-ui-icons users_single-02"></i>
        </div>
    </div>
    <div class="modal-body">
        <p>Unable to participate right now. Please try again later.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-simple btn-round ml-auto mx-auto text-white"
            style="border-color: #fff !important;" (click)="c('Close click')">Close</button>
    </div>
</ng-template>