.card {
    cursor: pointer;
    filter: brightness(0.8);
    transition: 500ms;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 20px 0px;
    overflow: initial;
    background-color: #090909 !important;

    .card-header,
    .card-footer {
        background: rgba(0, 0, 0, 0.4) !important;
    }

    &:hover {
        background-size: initial !important;
        background-position: center !important;
        filter: brightness(1);
        transition: 300ms filter linear;
        transition: 10s background-position cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}

.border-wrapper {
    padding: 2px;
    border-radius: .25rem;
    background: linear-gradient(-30deg, #ff0b6d, #fe4644, #fb9411);
}

.separator {
    margin-top: 0px !important;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 580px);
}