<div class="wrapper">
    <div class="page-header page-header-small" filter-color="dark">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg11.jpg');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo typograph" style="letter-spacing: 15px;">
                    <span class="full">A</span>
                    <span class="full">B</span>
                    <span>O</span>
                    <span class="full">U</span>
                    <span class="full">T</span>
                    <span> </span>
                    <span class="full">U</span>
                    <span class="full">S</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="section section-team text-center" data-background-color="black">
        <div class="container">
            <div class="team" *ngFor="let team of teams">
                <h2 class="title">{{team.name}}</h2>
                <div class="row">
                    <div class="col-md-4" *ngFor="let member of team.members">
                        <div class="card card-raised">
                            <div class="card-body">
                                <div class="team-player">
                                    <img src={{member.avatar}} alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                    <h4 class="title text-dark">{{member.name}}</h4>
                                    <p class="category text-primary">{{member.designation}}</p>
                                    <p class="description text-dark metropolis font-weight-normal">{{member.description}}</p>
                                    <a href={{social.url}} style="margin: 0px 3px;" target="_blank" class="btn btn-primary btn-icon btn-round gradient-primary"
                                        *ngFor="let social of member.socials">
                                        <i class="fa fa-{{social.media}}" *ngIf="social.media !== 'facebook'; else facebook"></i>
                                        <ng-template #facebook><i class="fa fa-facebook-square"></i></ng-template>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
            </div>
        </div>
    </div>
</div>