iframe {
    width: 100%;
    max-height: 600px !important;
    height: calc(80vw/1.77);
}

$transition: 500ms;
$translate: 40px;

@media screen and (min-width: 768px) {
    .section-story-overview {

        .image-container,
        .blockquote {
            transition: $transition;
        }
    }

    .section-story-overview:hover {
        .image-left {
            transform: translateX(-$translate);
        }

        .image-right,
        .blockquote {
            transform: translate($translate);
        }
    }
}

// @media screen and (max-width: 768px) {
//     .page-header-image {
//         // animation: rotate 10s infinite linear !important;
//         transform: rotateZ(90deg);
//     }
// }

// @keyframes rotate {
//     0% {
//         transform: rotateZ(0deg) scale(1) !important;
//     }

//     25% {
//         transform: rotateZ(90deg) scale(1.5) !important;
//     }

//     50% {
//         transform: rotateZ(180deg) scale(1) !important;
//     }

//     75% {
//         transform: rotateZ(270deg) scale(1.5) !important;
//     }

//     100% {
//         transform: rotateZ(360deg) scale(1) !important;
//     }
// }