<div class="wrapper">
    <div class="page-header clear-filter" filter-color="dark">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/background/6.jpg'); background-color: #090909;">

        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/icons/logo_white.png" alt="">
                <h1 class="h1-seo typograph">
                    <span class="half">E</span>
                    <span class="half">X</span>
                    <span class="half">O</span>
                    <span class="full">R</span>
                    <span class="half">D</span>
                    <span class="half">I</span>
                    <span class="full">U</span>
                    <span class="full">M</span>
                </h1>
                <button class="btn btn-lg btn-round btn-primary gradient-primary mx-2" (click)="open(classic,'' , '')">
                    VIEW TEASER
                    <i class="now-ui-icons tech_headphones"></i>
                </button>
                <a class="btn btn-lg btn-round btn-primary gradient-primary mx-2" [routerLink]="['/', 'register']">
                    REGISTER
                    <i class="now-ui-icons ui-1_send"></i>
                </a>
                <div class="mt-3">
                    <a [routerLink]="['/', 'steps-to-register']" class="category text-center text-primary">Know how
                        to Register?</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section" data-background-color="black">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center" data-aos="fade-up">
                        <h1 class="title" data-aos="zoom-in">What is Exordium?</h1>
                        <p class="description text-justify" style="font-size: 1.1rem">Exordium is a technology event
                            hosted by the
                            National
                            Institute of
                            Technology, Srinagar. It hosts a variety of events that include competitions, exhibitions,
                            lectures and workshops. The aim of Exordium is to provide a platform for students to develop
                            and showcase their technical prowess. Exordium is Kashmir's largest and only event of its
                            kind.
                        </p>
                        <div class="separator separator-primary my-5"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center" data-aos="fade-up">
                        <h1 class="title" data-aos="zoom-in">About Exordium 2.0</h1>
                        <p class="description text-justify" style="font-size: 1.1rem">
                            Exordium will commence from the 3rd of April and continue till 7th of April. In this span,
                            multiple events and competitions will be conducted in the institute campus. Most of these
                            events are aimed at helping the students develop their technical skills in a competitive
                            environment.
                            A few non technical events, such as art and photography based events, will be conducted in
                            between so as to allow college students from all branches to participate irrespective of
                            their technical knowledge levels.

                        </p>
                        <div class="separator separator-primary"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8  ml-auto mr-auto text-center">
                        <h1 class="title" data-aos="zoom-in">Event Gallery</h1>
                        <div class="carousel" data-aos="fade-up">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img class="d-block" src="https://i.imgur.com/tPgPgQT.jpg">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>EXORDIUM 2.0</h5>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="d-block" src="https://i.imgur.com/FU9WN74.jpg">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>ART NOW</h5>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="d-block" src="https://i.imgur.com/Rt50Q5C.jpg">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>CIPHER</h5>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="d-block" src="https://i.imgur.com/DNm1ytK.jpg">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>CODE JUMBLE</h5>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="d-block" src="https://i.imgur.com/ZMP4SbB.jpg">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>SHUTTERBUG</h5>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="d-block" src="https://i.imgur.com/6wjxwqL.jpg">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>CAD DUEL</h5>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="d-block" src="https://i.imgur.com/0rg6tdB.jpg">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>PUBG WARRIORS</h5>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="d-block" src="https://i.imgur.com/cRibuyg.jpg">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>CROSSFIRE'19</h5>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="d-block" src="https://i.imgur.com/iQgvhQQ.jpg">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>FIFA19 eTOURNAMENT</h5>
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                            <div class="separator separator-primary"></div>
                        </div>

                    </div>
                </div>
                <app-timeline></app-timeline>
            </div>
        </div>
    </div>
</div>

<ng-template #classic let-c="close" let-d="dismiss">
    <iframe frameborder="0" allowfullscreen="1" id="ytplayer"
        src="https://www.youtube.com/embed/OtjbgrjGobc?autoplay=1&rel=0"></iframe>
    <button type="button" class="btn btn-primary gradient-primary m-0" (click)="c('Close click')">
        GO BACK
    </button>
</ng-template>