input,
select {
    font-weight: 500 !important;
}

input[type="submit"] {
    color: #333;
    font-weight: 500 !important;
}

.form-group {
    margin: 10px 0px;
}

// @media screen and (min-width: 768px) {
//     .form-group {
//         margin: 20px 0px;
//     }
// }

.gradient {
    // background: linear-gradient(to top, #004e92, #000428);
    // background: linear-gradient(to bottom, #360033, #0b8793);
    background: linear-gradient(to top, #ff00cc, #333399);
}