/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

$gradient-primary: linear-gradient(150deg, #ff0b6d, #fe4644, #fb9411);
$gradient-primary-rev: linear-gradient(-30deg, #ff0b6d, #fe4644, #fb9411);

@font-face {
    font-family: Typograph;
    src: url('./assets/fonts/TYPOGRAPH\ PRO\ Light.ttf') format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: Typograph;
    src: url('./assets/fonts/TYPOGRAPH\ PRO\ Extra\ Bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: Typograph;
    src: url('./assets/fonts/TYPOGRAPH\ PRO\ Ultra\ Light.ttf') format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: Typograph;
    src: url('./assets/fonts/TYPOGRAPH\ PRO\ Semi\ Bold.ttf') format("truetype");
    font-weight: 400;
}

.typograph {
    font-family: Typograph, 'Open Sans' !important;
    font-weight: 300;
}

/**
|--------------------------------------------------
| BACKGROUND PALETTES
|--------------------------------------------------
*/

.bg-dark {
    background-color: #000 !important;
    // background-color: #01060e !important;
}

[data-background-color="black"] {
    background-color: #090909 !important;
}


/**
|--------------------------------------------------
| PRIMARY GRADIENTS
|--------------------------------------------------
*/

.separator {
    background: $gradient-primary-rev;
    width: 100px !important;
    height: 3px !important;
    border-radius: 5px !important;
}

.gradient-blue {
    background: linear-gradient(150deg, #5433FF 40%, #20BDFF 80%);
    color: white !important;
}

.gradient-blue-hover:hover {
    background: #5433FF !important;
    transition: 300ms !important;
}

.gradient-primary {
    background: $gradient-primary;
    color: white !important;
}

.gradient-primary:hover {
    background: #fe4644 !important;
    transition: 300ms !important;
}

// .gradient-primary-hover:hover {
//     background: #fe4644 !important;
//     transition: 300ms !important;
// }

.gradient-purple {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}


.form-control-success {
    border-color: #1beb11 !important;
}

.has-success::after {
    color: #1beb11 !important;
}

.modal.modal-mini .modal-footer button:first-child {
    opacity: 1 !important;
}

/**
|--------------------------------------------------
| BODY CONFIGURATION
|--------------------------------------------------
*/

body {
    width: 100vw;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

/**
|--------------------------------------------------
| TEASER MODAL
|--------------------------------------------------
*/

.xlModal>.modal-dialog {
    max-width: initial !important;
    width: 95% !important;
}

.xlModal .modal-content {
    background: #000 !important;
}

.registerModal>.modal-dialog {
    top: 50%;
    transform: translateY(50%);
    max-width: initial !important;
    width: 300px !important;
}

.registerModal .modal-content {
    background: $gradient-primary;
}


/**
|--------------------------------------------------
| HEADER FILTER
|--------------------------------------------------
*/

.page-header[filter-color="dark"] {
    background: rgba(44, 44, 44, 0.2);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, #090909, rgba(9, 9, 9, 0.4));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #090909, rgba(9, 9, 9, 0.4));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #090909, rgba(9, 9, 9, 0.4));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #090909, rgba(9, 9, 9, 0.4));
    /* Standard syntax */
}


/**
|--------------------------------------------------
| HEADER ANIMATION
|--------------------------------------------------
*/

.h1-seo {
    letter-spacing: 25px !important;
    white-space: nowrap !important;
}

.h1-seo>span {
    transition: transform 500ms;
    // transform-origin: 50% 50%;
    display: inline-block;
}

/**
|--------------------------------------------------
| MEDIA QUERIES
|--------------------------------------------------
*/


@media screen and (min-width: 768px) {

    .brand:hover {
        .n-logo {
            animation: animate-logo 1.5s linear;
        }

        .h1-seo>span {
            transform: rotateX(180deg);
        }

        .h1-seo>span.full {
            transform: rotateX(360deg) !important;
        }
    }


    .poster:hover {
        img {
            transform: scale(2);
            cursor: pointer;
        }
    }
}


@media screen and (min-width: 576px) and (max-width: 768px) {
    .h1-seo {
        letter-spacing: 15px !important;
        font-size: 1.6rem !important;
    }
}

@media screen and (max-width: 576px) {
    .h1-seo {
        letter-spacing: 10px !important;
        font-size: 1.2rem !important;
    }
}

@keyframes animate-logo {
    0% {
        transform: translateY(0px) rotateY(0deg) rotateX(0deg);
    }

    20% {
        transform: translateY(-15px) rotateY(180deg) rotateX(0deg);
    }

    40% {
        transform: translateY(-15px) rotateY(180deg) rotateX(180deg);
    }

    60% {
        transform: translateY(-15px) rotateY(360deg) rotateX(180deg);
    }

    80% {
        transform: translateY(-15px) rotateY(360deg) rotateX(360deg);
    }

    100% {
        transform: translateY(0px) rotateY(360deg) rotateX(360deg);
    }
}