/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: Polya;
    src: url('./assets/fonts/POLYA.otf') format("opentype");
}

@font-face {
    font-family: Alcubierre;
    src: url('./assets/fonts/Alcubierre.otf') format("opentype");
}


@font-face {
    font-family: Typograph;
    src: url('./assets/fonts/TYPOGRAPH\ PRO\ Light.ttf') format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: Typograph;
    src: url('./assets/fonts/TYPOGRAPH\ PRO\ Extra\ Bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: Typograph;
    src: url('./assets/fonts/TYPOGRAPH\ PRO\ Ultra\ Light.ttf') format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: Typograph;
    src: url('./assets/fonts/TYPOGRAPH\ PRO\ Semi\ Bold.ttf') format("truetype");
    font-weight: 400;
}


@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-Regular.otf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-Medium.otf') format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-Bold.otf') format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-Light.otf') format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-SemiBold.otf') format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-Thin.otf') format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: Anders;
    src: url('./assets/fonts/Anders.ttf') format("truetype");
}

@font-face {
    font-family: Selima;
    src: url('./assets/fonts/Selima.ttf') format("truetype");
}

@font-face {
    font-family: Metropolis;
    src: url('./assets/fonts/Metropolis-Regular.otf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: Metropolis;
    src: url('./assets/fonts/Metropolis-Medium.otf') format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: Metropolis;
    src: url('./assets/fonts/Metropolis-Bold.otf') format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: Metropolis;
    src: url('./assets/fonts/Metropolis-Thin.otf') format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: Metropolis;
    src: url('./assets/fonts/Metropolis-Light.otf') format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: Metropolis;
    src: url('./assets/fonts/Metropolis-ExtraLight.otf') format("opentype");
    font-weight: 100;
}

.alcubierre {
    font-family: Alcubierre, 'Open Sans' !important;
}

.anders {
    font-family: Anders, 'Open Sans' !important;
}

.selima {
    font-family: Selima, 'Open Sans' !important;
}

.poppins {
    font-family: Poppins, 'Open Sans' !important;
}

.polya {
    font-family: Polya, 'Open Sans' !important;
}

.metropolis {
    font-family: Metropolis, 'Open Sans' !important;
}


.typograph {
    font-family: Typograph, 'Open Sans' !important;
    font-weight: 300;
}

/**
|--------------------------------------------------
| BACKGROUND PALETTES
|--------------------------------------------------
*/

.bg-dark {
    background-color: #000 !important;
    // background-color: #01060e !important;
}

[data-background-color="black"] {
    background-color: #090909 !important;
}


/**
|--------------------------------------------------
| PRIMARY GRADIENTS
|--------------------------------------------------
*/

.gradient-blue {
    background: linear-gradient(150deg, #5433FF 40%, #20BDFF 80%);
    color: white !important;
}

.gradient-blue-hover:hover {
    background: #5433FF !important;
    transition: 300ms !important;
}

.gradient-primary {
    background: linear-gradient(150deg, #ff0b6d, #fe4644, #fb9411);
    color: white !important;
}

.gradient-primary:hover {
    background: #fe4644 !important;
    transition: 300ms !important;
}

// .gradient-primary-hover:hover {
//     background: #fe4644 !important;
//     transition: 300ms !important;
// }

.gradient-purple {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}


/**
|--------------------------------------------------
| BODY CONFIGURATION
|--------------------------------------------------
*/

body {
    width: 100vw;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

/**
|--------------------------------------------------
| TEASER MODAL
|--------------------------------------------------
*/

.xlModal>.modal-dialog {
    max-width: initial !important;
    width: 95% !important;
}

.xlModal .modal-content {
    background: transparent !important;
}

/**
|--------------------------------------------------
| HEADER FILTER
|--------------------------------------------------
*/

.page-header[filter-color="dark"] {
    background: rgba(44, 44, 44, 0.2);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.4));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.4));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.4));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.4));
    /* Standard syntax */
}


/**
|--------------------------------------------------
| HEADER ANIMATION
|--------------------------------------------------
*/

.h1-seo {
    letter-spacing: 25px;
    white-space: nowrap;
}

.h1-seo>span {
    transition: transform 500ms;
    transform-origin: center;
    display: inline-block;
}

.h1-seo:hover>span {
    transform: rotateX(180deg);
}

.h1-seo:hover>span.full {
    transform: rotateX(360deg) !important;
}