<footer class="footer bg-dark text-white" style="padding: 15px;">
    <div class="container">
        <nav>
            <ul>
                <li>Semicolon
                    <img src="assets/img/icons/logo_semicolon50px.png" class="logo" height="20" alt="">
                    &copy; {{data | date: 'yyyy'}}
                </li>
            </ul>
        </nav>
        <div class="copyright">
            Developed by ⚡
            <a href="https://github.com/invinciblezeal" class="text-white slide"
                style="position: relative; overflow-y: hidden; height: 13px; display: inline-block;" target="_blank">
                <span style="display: inline-block;">
                    RITESH GANJEWALA
                </span>
                <span style="position:absolute; top: 15px; left: 0;">
                    INVINCIBLE ZEAL
                </span>
            </a>
        </div>
    </div>
</footer>