<footer class="footer bg-dark text-white" style="padding: 15px;">
    <div class="container">
        <nav>
            <ul>
                <li>
                    EXORDIUM &copy; {{data | date: 'yyyy'}}
                </li>
                <!-- <li>
                    <a href="https://www.creative-tim.com/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                        MIT License
                    </a>
                </li> -->
            </ul>
        </nav>
        <div class="copyright">
            Developed by ⚡
            <a href="https://github.com/invinciblezeal" class="text-white slide" style="position: relative; overflow-y: hidden; height: 13px; display: inline-block;"
                target="_blank">
                <span style="display: inline-block;">
                    RITESH GANJEWALA
                </span>
                <span style="position:absolute; top: 15px; left: 0;">
                    INVINCIBLE ZEAL
                </span>
            </a>
        </div>
    </div>
</footer>